In [1]:
import pandas as pd
import random

In [2]:
snow = pd.read_csv('Snowplow_Data_January_1_2018.csv')

In [3]:
snow.head()

,X,Y,truck_name,repair_type,date_fixed,strHeading,address,activity_type,longitude,latitude,FID
0,-76.110435,43.054928,178.0,SNOW & ICE,2018/01/01 11:08:46+00,E,1244 CANAL ST SYRACUSE 13210 ...,Start Moving,-76.110435,43.054928,1
1,-76.115876,43.055941,178.0,SNOW & ICE,2018/01/01 14:09:07+00,E,1511 BURNET AVE ...,,-76.115876,43.055941,2
2,-76.110435,43.054928,178.0,SNOW & ICE,2018/01/01 11:08:46+00,E,1244 CANAL ST SYRACUSE 13210 ...,Stop Moving,-76.110435,43.054928,3
3,-76.115737,43.055863,178.0,SNOW & ICE,2018/01/01 14:09:11+00,S,1513 BURNET AVE ...,,-76.115737,43.055863,4
4,-76.110452,43.054928,178.0,SNOW & ICE,2018/01/01 11:08:52+00,SW,1244 CANAL ST SYRACUSE 13210 ...,,-76.110452,43.054928,5

In [4]:
snow.set_index('FID', inplace = True)

In [5]:
snow

,X,Y,truck_name,repair_type,date_fixed,strHeading,address,activity_type,longitude,latitude
FID,,,,,,,,,,
1,-76.110435,43.054928,178.0,SNOW & ICE,2018/01/01 11:08:46+00,E,1244 CANAL ST SYRACUSE 13210 ...,Start Moving,-76.110435,43.054928
2,-76.115876,43.055941,178.0,SNOW & ICE,2018/01/01 14:09:07+00,E,1511 BURNET AVE ...,,-76.115876,43.055941
3,-76.110435,43.054928,178.0,SNOW & ICE,2018/01/01 11:08:46+00,E,1244 CANAL ST SYRACUSE 13210 ...,Stop Moving,-76.110435,43.054928
4,-76.115737,43.055863,178.0,SNOW & ICE,2018/01/01 14:09:11+00,S,1513 BURNET AVE ...,,-76.115737,43.055863
5,-76.110452,43.054928,178.0,SNOW & ICE,2018/01/01 11:08:52+00,SW,1244 CANAL ST SYRACUSE 13210 ...,,-76.110452,43.054928
...,...,...,...,...,...,...,...,...,...,...
39780,-76.139866,43.009771,73.0,SNOW & ICE,2018/01/01 10:13:54+00,SE,158 FILLMORE AVE & CHURCHILL ...,Ignition On,-76.139866,43.009771
39781,-76.139826,43.009772,73.0,SNOW & ICE,2018/01/01 10:14:20+00,N,200 FILLMORE AVE & CHURCHILL ...,Ignition Off,-76.139826,43.009772
39782,-76.139844,43.009745,73.0,SNOW & ICE,2018/01/01 10:15:20+00,N,158 FILLMORE AVE & CHURCHILL ...,,-76.139844,43.009745
39783,-76.139844,43.009745,73.0,SNOW & ICE,2018/01/01 10:16:20+00,N,158 FILLMORE AVE & CHURCHILL ...,,-76.139844,43.009745
39784,-76.139844,43.009745,73.0,SNOW & ICE,2018/01/02 04:00:16+00,N,158 FILLMORE AVE & CHURCHILL ...,,-76.139844,43.009745

In [6]:
T178= snow.loc[snow['truck_name']==178.0]
T178

,X,Y,truck_name,repair_type,date_fixed,strHeading,address,activity_type,longitude,latitude
FID,,,,,,,,,,
1,-76.110435,43.054928,178.0,SNOW & ICE,2018/01/01 11:08:46+00,E,1244 CANAL ST SYRACUSE 13210 ...,Start Moving,-76.110435,43.054928
2,-76.115876,43.055941,178.0,SNOW & ICE,2018/01/01 14:09:07+00,E,1511 BURNET AVE ...,,-76.115876,43.055941
3,-76.110435,43.054928,178.0,SNOW & ICE,2018/01/01 11:08:46+00,E,1244 CANAL ST SYRACUSE 13210 ...,Stop Moving,-76.110435,43.054928
4,-76.115737,43.055863,178.0,SNOW & ICE,2018/01/01 14:09:11+00,S,1513 BURNET AVE ...,,-76.115737,43.055863
5,-76.110452,43.054928,178.0,SNOW & ICE,2018/01/01 11:08:52+00,SW,1244 CANAL ST SYRACUSE 13210 ...,,-76.110452,43.054928
...,...,...,...,...,...,...,...,...,...,...
1996,-76.128240,43.019295,178.0,SNOW & ICE,2018/01/02 04:03:30+00,S,503 THURBER ST & COMSTOCK AVE ...,Stop Moving,-76.128240,43.019295
1997,-76.128383,43.019168,178.0,SNOW & ICE,2018/01/02 04:03:37+00,W,1314 COMSTOCK AVE & THURBER ST ...,,-76.128383,43.019168
1998,-76.128557,43.019157,178.0,SNOW & ICE,2018/01/02 04:03:40+00,W,1314 COMSTOCK AVE & THURBER ST ...,Start Moving,-76.128557,43.019157
1999,-76.130712,43.019068,178.0,SNOW & ICE,2018/01/02 04:04:06+00,W,401 THURBER ST & JAMESVILLE A ...,Stop Moving,-76.130712,43.019068
2000,-76.131408,43.018964,178.0,SNOW & ICE,2018/01/02 04:04:20+00,W,712 JAMESVILLE AVE & THURBER ...,Start Moving,-76.131408,43.018964

In [7]:
snow.value_counts('truck_name')

truck_name
216.0    4065
251.0    3811
265.0    3461
261.0    3341
263.0    3272
285.0    2667
271.0    2398
264.0    2364
284.0    2234
282.0    2203
266.0    2004
178.0    1722
179.0    1682
212.0    1288
210.0    1285
268.0     686
258.0     626
73.0      437
206.0     143
254.0      47
259.0      27
270.0       6
182.0       6
260.0       1
262.0       1
257.0       1
253.0       1
211.0       1
267.0       1
208.0       1
269.0       1
207.0       1
dtype: int64

In [8]:
trucks = snow['truck_name'].unique().tolist()

In [9]:
trucks = [int(item) for item in trucks]

In [10]:
truck_info = pd.DataFrame(columns = ['year', 'make', 'model', 'milage'], index = trucks)

In [11]:
truck_info

    year make model milage
178  NaN  NaN   NaN    NaN
179  NaN  NaN   NaN    NaN
182  NaN  NaN   NaN    NaN
206  NaN  NaN   NaN    NaN
210  NaN  NaN   NaN    NaN
207  NaN  NaN   NaN    NaN
208  NaN  NaN   NaN    NaN
212  NaN  NaN   NaN    NaN
211  NaN  NaN   NaN    NaN
216  NaN  NaN   NaN    NaN
251  NaN  NaN   NaN    NaN
253  NaN  NaN   NaN    NaN
254  NaN  NaN   NaN    NaN
258  NaN  NaN   NaN    NaN
261  NaN  NaN   NaN    NaN
257  NaN  NaN   NaN    NaN
259  NaN  NaN   NaN    NaN
260  NaN  NaN   NaN    NaN
263  NaN  NaN   NaN    NaN
262  NaN  NaN   NaN    NaN
264  NaN  NaN   NaN    NaN
265  NaN  NaN   NaN    NaN
266  NaN  NaN   NaN    NaN
268  NaN  NaN   NaN    NaN
271  NaN  NaN   NaN    NaN
269  NaN  NaN   NaN    NaN
270  NaN  NaN   NaN    NaN
267  NaN  NaN   NaN    NaN
282  NaN  NaN   NaN    NaN
284  NaN  NaN   NaN    NaN
285  NaN  NaN   NaN    NaN
73   NaN  NaN   NaN    NaN

In [12]:
models = [['dodge','ram'],['ford', 'f150'], ['ford', 'f250']]
for truck in truck_info.index:
    mod = models[random.randint(0,2)]
    truck_info.loc[truck, 'year'] = random.randint(1998,2021)
    truck_info.loc[truck, 'milage'] = random.randint(30000,250000)
    truck_info.loc[truck, 'make'] = mod[0]
    truck_info.loc[truck, 'model'] = mod[1]

In [13]:
truck_info

     year   make model  milage
178  2000  dodge   ram   53192
179  2021   ford  f150   55361
182  2013   ford  f250  235321
206  2015   ford  f250  206885
210  2015   ford  f250  158429
207  2017   ford  f150  101496
208  2015   ford  f150  221942
212  2009  dodge   ram  177888
211  2019   ford  f250  219103
216  2009   ford  f250   89696
251  2012   ford  f150  182647
253  2006   ford  f250  177588
254  2009   ford  f150  181312
258  2011   ford  f150  110176
261  2004  dodge   ram  189907
257  1999   ford  f150  113367
259  2002   ford  f150  151587
260  2002   ford  f150  186912
263  2001   ford  f250  127010
262  2016  dodge   ram  215417
264  2011   ford  f150  109230
265  2002   ford  f250   44749
266  2019   ford  f150  113218
268  2005   ford  f150  213227
271  2016   ford  f250  145144
269  2013   ford  f150   87928
270  2008   ford  f250  247292
267  2017   ford  f250  135292
282  2001   ford  f250   81216
284  2012  dodge   ram  185051
285  2006   ford  f250   54211
73   2006   ford  f250  122352

In [14]:
truck_info.to_csv('Desktop/SQL Class HackUpstate/truck_info.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Desktop/SQL Class HackUpstate/truck_info.csv'

In [16]:
snow.columns

Index(['X', 'Y', 'truck_name', 'repair_type', 'date_fixed', 'strHeading',
       'address', 'activity_type', 'longitude', 'latitude'],
      dtype='object')

In [17]:
snow.index

Int64Index([    1,     2,     3,     4,     5,     6,     7,     8,     9,
               10,
            ...
            39775, 39776, 39777, 39778, 39779, 39780, 39781, 39782, 39783,
            39784],
           dtype='int64', name='FID', length=39784)

In [19]:
snow.head()

,X,Y,truck_name,repair_type,date_fixed,strHeading,address,activity_type,longitude,latitude
FID,,,,,,,,,,
1,-76.110435,43.054928,178.0,SNOW & ICE,2018/01/01 11:08:46+00,E,1244 CANAL ST SYRACUSE 13210 ...,Start Moving,-76.110435,43.054928
2,-76.115876,43.055941,178.0,SNOW & ICE,2018/01/01 14:09:07+00,E,1511 BURNET AVE ...,,-76.115876,43.055941
3,-76.110435,43.054928,178.0,SNOW & ICE,2018/01/01 11:08:46+00,E,1244 CANAL ST SYRACUSE 13210 ...,Stop Moving,-76.110435,43.054928
4,-76.115737,43.055863,178.0,SNOW & ICE,2018/01/01 14:09:11+00,S,1513 BURNET AVE ...,,-76.115737,43.055863
5,-76.110452,43.054928,178.0,SNOW & ICE,2018/01/01 11:08:52+00,SW,1244 CANAL ST SYRACUSE 13210 ...,,-76.110452,43.054928

In [20]:
columns = snow.columns.tolist()

In [21]:
columns

['X',
 'Y',
 'truck_name',
 'repair_type',
 'date_fixed',
 'strHeading',
 'address',
 'activity_type',
 'longitude',
 'latitude']

In [ ]:
for i in range(5):
    r1 = random.randint(0, len(columns)-1)
    r2 = random.randint(0, len(columns)-1)